/* ==============================================
   Tempora Tool Bar
   ============================================== */

:root {
	--toolbar-background-color: #464646;
	--toolbar-background-hover-color: #353535;
	--toolbar-text-color: #ffffff;
}

footer {
	margin-bottom: 28px;
}

.tempora_toolbar {
	width: -webkit-fill-available;
	width: -moz-available;
	height: fit-content;
	background-color: var(--toolbar-background-color);
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0 10px;
	display: flex;
	flex-direction: row;
	color: var(--toolbar-text-color);
	border-left: solid 4px red;
	font-size: 14px;
	z-index: 9999;

	.tempora_toolbar_title {
		font-weight: bold;
	}

	.tempora_toolbar_drop_container {
		display: inline-block;
	}

	p {
		padding: 6px 10px;
	}

	table {
		border-collapse: collapse;
		border-style: hidden;
		table-layout: fixed;
		width: 100%;
		word-wrap: break-word;

		td {
			color: var(--toolbar-text-color);
			vertical-align: top;
			border: solid 2px var(--toolbar-background-color);
			font-size: 14px;
			padding: 5px;
		}
	}

	.tempora_toolbar_drop_element {
		display: none;
		position: absolute;
		bottom: 100%;
		min-width: 300px;
		width: fit-content;
		max-width: 600px;
		background-color: var(--toolbar-background-hover-color);
		overflow-y: scroll;
		max-height: 500px;
		padding: 10px;
		border-radius: 9px 9px 0 0;

		h1 {
			font-size: 18px;
		}

		p,
		td,
		a,
		h1 {
			user-select: text;
			text-decoration: none;
			color: var(--toolbar-text-color);
		}

		td:hover {
			cursor: text;
		}
	}

	.tempora_toolbar_drop_container:hover {
		background-color: var(--toolbar-background-hover-color);
	}

	.tempora_toolbar_drop_container:hover .tempora_toolbar_drop_element {
		display: block;
	}

	.red {
		color: red !important;
	}

	.green {
		color: lightgreen;
	}

	.yellow {
		color: yellow;
	}

	.bold {
		font-weight: bold;
	}

	.italic {
		font-style: italic;
	}
}
